@charset "ISO-8859-1";
body{
    background: linear-gradient(to right, springgreen, rgb(253, 253, 53));
   
    
}
.registerform{
    background-color: whitesmoke;
    height: 550px;
    width: 400px;
    position: absolute;
    left: 480px;
    top: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.registerform .registerformcontent{
    position: relative;
    padding-left: 110px;
    bottom: 25px;
    left: -40px;
}
.registerform .registerformcontent button{
    
    position: relative;
    left: 80px;
    bottom: 30px;
    font-weight:bolder;
}
.registerform .registerformcontent input{
   width: 250px;
   height: 20px;
   border-radius: 2px;
}
.registerform .registerformcontent h1{
    position: relative;
    left: 45px;
    top: 20px;
 }

